@charset "UTF-8";
@media screen and (max-width: 1200px) {
  /*-------------
      共通
  ---------------*/
  main .first-view {
    width: 98%;
  }
  main .first-view h2 {
    font-size: 30px;
    right: 10%;
  }
  main .chui-jikou-bg {
    margin: 0 20px 100px;
    width: inherit;
  }
  main .chui-jikou-bg .chui-jikou .chui-left {
    margin-left: 20px;
    margin-top: 20px;
    width: 70%;
  }
  main .chui-jikou-bg .chui-jikou .chui-right {
    width: 30%;
  }
  main .chui-jikou-bg .chui-jikou .chui-right img {
    width: 100%;
  }
  /*-------------
      トップページ
  ---------------*/
  #home .message {
    margin: 0 20px 100px;
  }
  #home .menu {
    margin: 0 20px;
  }
  /*-------------
   当院について
  ---------------*/
  #about main .aisatsu-all .ishi-shoukai {
    margin: 0 20px 40px;
  }
  #about main .animal-pic {
    margin: 100px auto;
    width: 94%;
  }
  #about main .animal-pic .div-img {
    width: calc(33.3333333333% - 10px);
    margin: 0 auto;
  }
  #about main .animal-pic .div-img img {
    width: 100%;
  }
  #about main .onegai {
    width: 94%;
  }
  /*-------------
   　　診察案内
  ---------------*/
  #shinsatsu-annai main .shinsatsu {
    margin: 0 20px;
    padding: 70px 50px 60px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top {
    width: 100%;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top section p {
    width: 90%;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom {
    width: 100%;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom section a .shinsatsu-bottom-link {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom section a .shinsatsu-bottom-link i {
    margin-right: 0px;
  }
  #shinsatsu-annai main .shinsatsu section {
    width: 48%;
    height: 140px;
  }
  #shinsatsu-annai main .wakuchin {
    margin: 130px 20px 100px;
    width: 96%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left {
    width: 90%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left img {
    width: 100%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text {
    width: 54%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text p {
    font-size: 15px;
    width: 94%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right {
    width: 10%;
    margin-right: 0px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right h4 {
    padding: 10px 0px 10px 6px;
    font-size: 22px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right p {
    padding: 10px 6px 0 2px;
  }
  #shinsatsu-annai main .kyokenbyo {
    margin: 0 20px 130px;
    padding: 70px 50px 60px;
    align-items: center;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left {
    width: 65%;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left h4 {
    font-size: 20px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left h4 .responsive1200 {
    display: block;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-right {
    width: 35%;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-right img {
    width: 100%;
  }
  #shinsatsu-annai main .saisei {
    margin: 0px 20px 100px;
    width: 96%;
  }
  #shinsatsu-annai main .saisei .saisei-right {
    width: 90%;
  }
  #shinsatsu-annai main .saisei .saisei-right img {
    width: 100%;
  }
  #shinsatsu-annai main .saisei .saisei-right .right-text {
    width: 70%;
    height: 120px;
    margin-top: -120px;
  }
  #shinsatsu-annai main .saisei .saisei-right .right-text p {
    font-size: 15px;
  }
  #shinsatsu-annai main .saisei .saisei-left {
    width: 10%;
    margin-left: 0;
    margin-right: 10px;
  }
  #shinsatsu-annai main .saisei .saisei-left h4 {
    font-size: 22px;
    padding: 10px 0 10px 6px;
  }
  #shinsatsu-annai main .saisei .saisei-left p {
    padding: 10px 6px 0 0;
  }
  #shinsatsu-annai main .ryoho {
    padding: 70px 50px 60px 50px;
    margin: 0 20px 100px;
  }
  #shinsatsu-annai main .ryoho h4 {
    font-size: 16px;
    padding: 8px 14px 10px 8px;
  }
  #shinsatsu-annai main .ryoho img {
    width: 100%;
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .ryoho p {
    font-size: 15px;
  }
  #shinsatsu-annai main .ryoho .ryoho-left {
    width: 48%;
  }
  #shinsatsu-annai main .ryoho .ryoho-right {
    width: 48%;
  }
  /*-------------
   　　トリミング
  ---------------*/
  #trimming main .trimming-service {
    margin: 0 20px;
  }
  #trimming main .trimming-service div {
    height: 180px;
  }
  #trimming main .trimming-service div img {
    margin-right: 10px;
  }
  #trimming main .trimming-service div section h4 {
    font-size: 18px;
  }
  #trimming main .trimming-service div section p {
    font-size: 15px;
  }
  #trimming main .miryoku {
    margin: 0 20px 100px;
    padding: 70px 50px 60px;
  }
  #trimming main .miryoku .miryoku-left {
    width: 50%;
  }
  #trimming main .miryoku .miryoku-right {
    width: 50%;
  }
  #trimming main .miryoku img {
    width: 100%;
    margin-bottom: 20px;
  }
  /*-------------
   　ペットホテル
  ---------------*/
  #hotel main .first-view-bottom-wrap .first-view-bottom {
    padding-top: 10px;
  }
  #hotel main .first-view-bottom-wrap .first-view-bottom h3 {
    margin-top: 10px;
    padding: 0 20px;
  }
  #hotel main .hotel-service {
    margin: 50px 20px 100px;
  }
  #hotel main .hotel-service div {
    width: calc(33.3333333333% - 10px);
  }
  #hotel main .hotel-service div img {
    width: 100%;
    margin-bottom: 10px;
  }
  #hotel main .hotel-service div section h4 {
    font-size: 18px;
    margin-bottom: 14px;
  }
  #hotel main .hotel-service div section p {
    font-size: 15px;
    margin: 0 3px;
  }
  #hotel main .chui-jikou-bg .chui-jikou .chui-right {
    margin-right: 10px;
  }
  /*-------------
   　院内紹介
  ---------------*/
  #innai-shoukai main .first-view-bottom h3 {
    font-size: 20px;
  }
  #innai-shoukai main .innai-shoukai-all {
    margin: 0 20px 100px;
    padding: 70px 30px 100px;
  }
  #innai-shoukai main section {
    width: calc(33.3333333333% - 10px);
  }
  #innai-shoukai main section img {
    width: 100%;
  }
  /*-------------
   　アクセス
  ---------------*/
  #access main .access {
    margin: 0 20px 100px;
    padding: 70px 30px 90px;
  }
  #access main .access .access-iinjoho {
    width: 100%;
  }
  #access main .access .access-iinjoho .access-left {
    width: 48%;
    margin-left: 0px;
  }
  #access main .access .access-iinjoho .access-left iframe {
    width: 100%;
  }
  #access main .access .access-iinjoho .access-right {
    width: 48%;
    margin-inline-end: 0px;
  }
  #access main .access .access-iinjoho .access-right h4 {
    font-size: 22px;
    line-height: 0.9;
  }
  #access main .access .access-iinjoho .access-right address {
    font-size: 16px;
  }
  #access main .access .access-iinjoho .access-right address a {
    font-size: 12px;
  }
  #access main .access .access-iinjoho .access-right p {
    font-size: 20px;
  }
  #access main .access .access-iinjoho .access-right p span {
    font-size: 16px;
  }
  #access main .access .access-iinjoho .access-right table {
    width: 100%;
  }
  #access main .access .access-iinjoho .access-right table tbody {
    width: 100%;
  }
  #access main .access .access-iinjoho .access-right table tr {
    width: 100%;
  }
  #access main .access .access-iinjoho .access-right table th {
    padding: 20px 10px;
    width: 16%;
    letter-spacing: 0.5px;
  }
  #access main .access .access-iinjoho .access-right table td {
    padding: 10px;
    width: 12%;
  }
}
@media screen and (max-width: 1000px) {
  header .header-menu {
    width: 96vw;
  }
  header .header-menu .pc-nav ul a {
    margin: 6px;
  }
  footer .footer-menu {
    width: 98%;
  }
  footer .footer-menu .footer-left {
    padding: 0 30px 0 20px;
  }
  footer .footer-menu .footer-right {
    padding: 0;
  }
  footer .footer-menu .footer-right table tr th {
    padding: 20px 10px 20px 12px;
  }
  footer .footer-menu .footer-right table tr td {
    padding: 20px 15px;
  }
  footer .footer-menu .footer-right p {
    margin-left: 8px;
  }
  main .first-view h2 {
    font-size: 25px;
    right: 8%;
    letter-spacing: 2px;
  }
  /*--------------------
     トップページ
  ---------------------*/
  #home .main-image .hospital {
    padding: 40px 20px 40px 30px;
  }
  /*--------------------
     当院について
  ---------------------*/
  #about main .onegai .onegai-text {
    width: 100%;
  }
  #about main .onegai .onegai-text section img {
    width: 16%;
  }
  #about main .onegai .onegai-text section .text {
    width: 84%;
  }
  /*--------------------
     診察案内
  ---------------------*/
  #shinsatsu-annai main .shinsatsu {
    padding: 70px 30px 60px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top section p .pc {
    display: none;
  }
  #shinsatsu-annai main .kyokenbyo {
    padding: 70px 30px 60px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left {
    width: 60%;
    margin-right: 20px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-right {
    width: 40%;
  }
  /*-------------
   　　トリミング
  ---------------*/
  #trimming main .trimming-service div {
    height: 280px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
  }
  #trimming main .trimming-service div img {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  #trimming main .chui-jikou-bg .chui-jikou .chui-right {
    margin-right: 20px;
  }
  #trimming main .miryoku h4 {
    font-size: 16px;
    padding: 10px 20px 10px 10px;
    margin-top: 26px;
  }
  /*--------------------
     院内紹介
  ---------------------*/
  #innai-shoukai main .first-view-bottom h3 {
    font-size: 18px;
  }
  /*--------------------
     アクセス
  ---------------------*/
  #access .first-view-bottom-wrap .first-view-bottom {
    width: 60%;
    padding-top: 10px;
  }
  #access .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 16px;
  }
  #access main .access .access-iinjoho .access-left {
    width: 38%;
  }
  #access main .access .access-iinjoho .access-right {
    width: 58%;
  }
  #access main .access .access-iinjoho .access-right address {
    line-height: 1.4;
  }
  #access main .access .access-iinjoho .access-right address .responsive {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  /*--------------------
     ハンバーガーメニュー
  ---------------------*/
  /* メニュー(ハンバーガー)ボタン */
  .hamburger-button {
    display: block;
  }
  /* メニュー(ハンバーガー)ボタン */
  .hamburger-button {
    display: block;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    position: fixed;
    top: 10;
    right: 10;
    z-index: 9999;
  }
  /*  ハンバーガーメニュー */
  .hamburger-button path {
    fill: #FF9627;
  }
  /* ナビゲーション */
  .hamburger-nav {
    background-color: #fff;
    height: 100vh;
    width: 90vw;
  }
  .hamburger-nav ul {
    margin: 0 auto;
    margin-top: 10%;
    width: 100%;
  }
  .hamburger-nav ul li {
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 2px solid #F9F9F9;
    width: 70%;
    margin: 0 auto;
  }
  .hamburger-nav ul li a {
    display: block;
    color: #000;
    line-height: 1.2;
  }
  .hamburger-nav ul li a span {
    color: #F2A464;
    font-size: 14px;
  }
  header .header-menu .pc-nav {
    display: none;
  }
  footer .footer-menu {
    flex-direction: column;
    margin: 40px auto 60px;
  }
  footer .footer-menu .footer-left {
    margin: 0px auto 35px;
    padding: 0;
  }
  footer .footer-menu .footer-left p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  footer .footer-menu .footer-right {
    margin: 0 auto;
  }
  main .first-view {
    width: 96%;
  }
  main .first-view img {
    width: 100%;
  }
  main .first-view h2 {
    font-size: 28px;
    right: 10%;
  }
  main .first-view-bottom-wrap .first-view-bottom {
    margin-top: -70px;
    height: 80px;
  }
  main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 24px;
    padding-bottom: 3px;
  }
  main .main-content-title h3 {
    font-size: 26px;
  }
  main .ryoukin a {
    width: inherit;
    margin: 0 20px;
  }
  main .chui-jikou-bg .chui-jikou .chui-left section p {
    font-size: 14px;
  }
  main .chui-jikou-bg .chui-jikou .chui-left section p br {
    display: none;
  }
  main .chui-jikou-bg .chui-jikou .chui-left section p span {
    display: none;
  }
  /*-------------
   トップページ
  ---------------*/
  #home .main-image .hospital {
    padding: 26px 0px 26px 30px;
    top: 20%;
  }
  #home .main-image .hospital h2 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  #home .main-image .hospital p {
    font-size: 12px;
  }
  #home .message {
    padding-top: 20px;
  }
  #home .message .message-left {
    width: 23%;
  }
  #home .message .message-right {
    width: 23%;
  }
  #home .message .message-center {
    width: 54%;
  }
  #home .message .message-center h3 {
    font-size: 22px;
    line-height: 1.5;
  }
  #home .message .message-center p {
    font-size: 14px;
  }
  #home .message .message-center .message-center-bottom {
    width: 100%;
    padding: 40px 8px;
  }
  #home .menu {
    width: 98%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #home .menu section {
    width: 45%;
    margin: 0 2% 50px;
  }
  /*-------------
      当院について 
  ---------------*/
  #about main .aisatsu-all .ishi-shoukai .keireki-p {
    font-size: 14px;
  }
  #about main .aisatsu-all .ishi-shoukai section p {
    font-size: 14px;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-left .keireki {
    font-size: 18px;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-left .incho {
    font-size: 20px;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-left .doctor-left span {
    font-size: 18px;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-right .shozoku {
    font-size: 18px;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-left .doctor-left {
    align-items: center;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-left .doctor-left span {
    font-size: 22px;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-right .doctor-right {
    margin-top: 20px;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-right .doctor-right span {
    font-size: 22px;
  }
  #about main .aisatsu-all .aisatsu section p {
    font-size: 13px;
  }
  #about main .aisatsu-all .aisatsu .aisatsu-right .doctor img {
    width: 60px;
  }
  #about main .aisatsu-all .aisatsu .aisatsu-right .doctor span {
    font-size: 24px;
  }
  #about main .onegai .onegai-text section {
    flex-direction: column;
  }
  #about main .onegai .onegai-text section img {
    width: 20%;
    margin: 0 0 12px 0;
  }
  #about main .onegai .onegai-text section .text {
    width: 100%;
  }
  #about main .onegai .onegai-text section .text div h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.4;
  }
  #about main .onegai .onegai-text section .text p {
    font-size: 15px;
    border-top: 2px solid #F2A464;
    padding: 10px 5px 0;
  }
  /*-------------
      診察案内
  ---------------*/
  #shinsatsu-annai main .shinsatsu section {
    height: inherit;
    width: 100%;
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .shinsatsu section h4 {
    font-size: 16px;
  }
  #shinsatsu-annai main .shinsatsu section p {
    font-size: 14px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top {
    flex-direction: column;
    margin-bottom: 0px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top section p {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 20px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top section p .pc {
    display: block;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom {
    flex-direction: column;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom section a .shinsatsu-bottom-link p {
    width: 86%;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom section a .shinsatsu-bottom-link i {
    height: -moz-fit-content;
    height: fit-content;
  }
  #shinsatsu-annai main .wakuchin {
    margin: 80px 20px 40px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left {
    width: 86%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text {
    width: 73%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text p {
    font-size: 14px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right h4 {
    font-size: 18px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right p {
    font-size: 14px;
    line-height: 1.1;
  }
  #shinsatsu-annai main .kyokenbyo {
    flex-direction: column;
    margin: 0 20px 60px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left {
    width: 100%;
    margin: 0 auto 30px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left p {
    font-size: 14px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left p span {
    font-size: 16px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-right {
    width: 60%;
  }
  #shinsatsu-annai main .saisei {
    margin: 0px 20px 40px;
  }
  #shinsatsu-annai main .saisei .saisei-left {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4px;
  }
  #shinsatsu-annai main .saisei .saisei-left h4 {
    font-size: 18px;
  }
  #shinsatsu-annai main .saisei .saisei-left p {
    font-size: 14px;
    line-height: 1.2;
  }
  #shinsatsu-annai main .saisei .saisei-right {
    width: 86%;
  }
  #shinsatsu-annai main .saisei .saisei-right .right-text {
    padding-top: 10px;
    width: 78%;
  }
  #shinsatsu-annai main .saisei .saisei-right .right-text p {
    font-size: 14px;
  }
  #shinsatsu-annai main .ryoho {
    flex-direction: column;
    margin-bottom: 80px;
  }
  #shinsatsu-annai main .ryoho img {
    width: 100%;
    margin-bottom: 10px;
  }
  #shinsatsu-annai main .ryoho p {
    padding: 0 10px;
    width: 98%;
    max-width: inherit;
  }
  #shinsatsu-annai main .ryoho .ryoho-left {
    width: 100%;
    margin-bottom: 40px;
  }
  #shinsatsu-annai main .ryoho .ryoho-right {
    width: 100%;
  }
  /*-------------
    トリミング
  ---------------*/
  #trimming main .first-view-bottom h3 {
    font-size: 14px;
  }
  #trimming main .first-view-bottom-wrap .first-view-bottom {
    margin-top: -80px;
    padding-top: 0px;
    width: 76%;
  }
  #trimming main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 14px;
    margin: 24px 10px 0px;
  }
  #trimming main .trimming-service div {
    height: 330px;
  }
  #trimming main .trimming-service div section h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  #trimming main .trimming-service div section p {
    font-size: 14px;
  }
  #trimming main .miryoku {
    padding: 50px 20px 40px;
  }
  #trimming main .miryoku h4 {
    margin-top: 20px;
  }
  #trimming main .miryoku p {
    font-size: 14px;
    height: 100px;
  }
  #trimming main .miryoku h5 {
    font-size: 16px;
  }
  #trimming main .miryoku ul li {
    font-size: 14px;
  }
  #trimming main .miryoku .miryoku-left {
    margin-right: 10px;
  }
  #trimming main .miryoku .miryoku-right {
    margin-left: 10px;
  }
  /*-------------
    ペットホテル
  ---------------*/
  #hotel main .first-view-bottom-wrap .first-view-bottom {
    width: 80%;
  }
  #hotel main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 15px;
  }
  #hotel main .hotel-service {
    margin: 50px 20px 70px;
  }
  #hotel main .hotel-service div section h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #hotel main .hotel-service div section p {
    font-size: 14px;
  }
  #hotel main .chui-jikou-bg {
    margin: 0 20px 60px;
  }
  /*-------------
      院内紹介
  ---------------*/
  #innai-shoukai main .first-view-bottom {
    width: 70%;
  }
  #innai-shoukai main .first-view-bottom h3 {
    font-size: 14px;
    padding: 0 20px;
  }
  #innai-shoukai main .first-view-bottom h3 br {
    display: none;
  }
  #innai-shoukai main .innai-shoukai-all {
    padding: 50px 30px 70px;
  }
  #innai-shoukai main .innai-shoukai-all .innai-shoukai-top {
    margin-bottom: 50px;
  }
  #innai-shoukai main .innai-shoukai-all .innai-shoukai-center {
    margin-bottom: 50px;
  }
  #innai-shoukai main section img {
    margin-bottom: 6px;
  }
  #innai-shoukai main section p {
    font-size: 14px;
  }
  /*-------------
      アクセス
  ---------------*/
  #access .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 14px;
    padding: 0 20px;
  }
  #access main .access {
    padding: 60px 30px;
    margin: 0 20px 80px;
  }
  #access main .access .access-iinjoho {
    flex-direction: column-reverse;
  }
  #access main .access .access-iinjoho .access-left {
    width: 100%;
  }
  #access main .access .access-iinjoho .access-right {
    width: 100%;
    margin: 0 auto;
  }
  #access main .access .access-iinjoho .access-right .responsive {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
@media screen and (max-width: 680px) {
  main .chui-jikou-bg .chui-jikou .chui-left section p br {
    display: none;
  }
  main .chui-jikou-bg .chui-jikou .chui-left section p span {
    display: none;
  }
  main .ryoukin a {
    width: 84%;
    padding: 10px 20px;
    margin: 0 auto;
  }
  main .ryoukin a .ryoukin-left {
    width: 10%;
  }
  main .ryoukin a .ryoukin-left img {
    width: 100%;
  }
  main .ryoukin a .ryoukin-center {
    width: 80%;
  }
  main .ryoukin a .ryoukin-center p {
    font-size: 16px;
    text-align: center;
  }
  main .ryoukin a .ryoukin-right {
    width: 10%;
  }
  main .ryoukin a .ryoukin-right i {
    font-size: 30px;
  }
  /*-------------
    　　トリミング
  ---------------*/
  #trimming main .miryoku {
    padding: 50px 10px 40px;
    margin: 0 20px 60px;
  }
  #trimming main .miryoku section {
    padding: 6px 0;
  }
  #trimming main .miryoku section p {
    height: 120px;
  }
  #trimming main .trimming-service div {
    padding: 20px 10px;
  }
  #access .first-view-bottom-wrap .first-view-bottom {
    width: 73%;
  }
  #access .first-view-bottom-wrap .first-view-bottom h3 span br {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /*-------------
      全体構造 
  ---------------*/
  /*---幅の調整---*/
  .content {
    width: auto;
  }
  header .header-menu {
    width: 94vw;
  }
  header .header-menu h1 {
    width: 220px;
  }
  main {
    width: auto;
  }
  img {
    max-width: 100%;
  }
  main .main-content-title h3 {
    font-size: 22px;
  }
  main .first-view h2 {
    font-size: 20px;
    letter-spacing: 1px;
    right: 15%;
  }
  main .first-view img {
    margin-top: 40px;
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }
  main .first-view-bottom-wrap {
    margin-bottom: 30px;
  }
  main .first-view-bottom-wrap .first-view-bottom {
    height: 50px;
    margin-top: -50px;
    padding-top: 10px;
  }
  main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 20px;
  }
  main .chui-jikou-bg {
    width: 95%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 10px 60px;
  }
  main .chui-jikou-bg .chui-jikou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .chui-jikou-bg .chui-jikou .chui-left {
    text-align: left;
    margin: 0 12px 10px;
    width: 95%;
  }
  main .chui-jikou-bg .chui-jikou .chui-left section p br {
    display: none;
  }
  main .chui-jikou-bg .chui-jikou .chui-right {
    margin-top: -50px;
    margin-right: 0;
    width: 50%;
  }
  main .ryoukin {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  main .ryoukin a {
    align-items: center;
    width: auto;
    margin: 30px 10px;
    padding: 10px 30px;
    border-radius: 50px;
  }
  main .ryoukin a .ryoukin-left {
    margin-left: 0;
    width: 15%;
  }
  main .ryoukin a .ryoukin-center {
    margin: auto;
    width: 75%;
  }
  main .ryoukin a .ryoukin-center p {
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
  }
  main .ryoukin a .ryoukin-center p .responsive {
    display: block;
  }
  main .ryoukin a .ryoukin-right {
    margin: auto;
  }
  main .ryoukin a .ryoukin-right i {
    font-size: 30px;
  }
  /*-------------
   ヘッダー
  ---------------*/
  header {
    overflow: visible;
    z-index: 10;
    position: relative;
  }
  header .header-menu {
    display: flex;
  }
  header.on {
    opacity: 1;
    transform: translate(0, 0);
  }
  /*-------------
    フッター
  ---------------*/
  footer {
    overflow: hidden;
  }
  footer .footer-menu {
    display: block;
    margin: 30px auto 70px auto;
  }
  footer .footer-menu .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
  }
  footer .footer-menu .footer-left p {
    font-size: 14px;
    line-height: 1.5;
    margin-left: -20px;
  }
  footer .footer-menu .footer-left address {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-left: 5px;
  }
  footer .footer-menu .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  footer .footer-menu .footer-right table {
    width: 98%;
  }
  footer .footer-menu .footer-right table tbody {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  footer .footer-menu .footer-right table tbody tr th {
    letter-spacing: 1px;
    font-size: 14px;
    white-space: nowrap;
    padding: 0px 4px;
    width: 16%;
    width: 12%;
  }
  footer .footer-menu .footer-right table tbody tr td {
    font-size: 14px;
    padding: 10px;
  }
  footer .footer-menu .footer-right p {
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    width: 98%;
  }
  /*-------------
   トップページ
  ---------------*/
  #home .main-image {
    margin: 0 auto 40px auto;
    text-align: center;
    display: block;
    position: relative;
  }
  #home .main-image .hospital {
    top: 10%;
    padding: 2px 16px;
    opacity: 0;
    transform: translate(0, 40px);
    transition: all 1000ms;
  }
  #home .main-image .hospital h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
  }
  #home .main-image .hospital p {
    display: none;
  }
  #home .message {
    display: block;
    padding-top: 20px;
    margin: 0 10px 80px 10px;
    padding-bottom: 50px;
  }
  #home .message .dog-pc {
    display: none;
  }
  #home .message .dog-responsive {
    display: block;
  }
  #home .message .message-left {
    width: 100%;
  }
  #home .message .message-left .dog-responsive {
    width: 15%;
  }
  #home .message .message-left .dog-responsive .dog-responsive-top {
    margin-left: 50px;
  }
  #home .message .message-center {
    margin: 0 auto;
    width: 100%;
  }
  #home .message .message-center h3 {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin: 10px auto 24px;
  }
  #home .message .message-center p {
    text-align: center;
    line-height: 1.6;
    margin: 0 10px;
  }
  #home .message .message-center .message-center-bottom {
    padding: 16px 10px;
    margin: 10px auto;
    width: 94%;
  }
  #home .message .message-right {
    width: 100%;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #home .message .message-right .dog-responsive {
    width: 23%;
    margin-right: 20px;
  }
  #home .menu {
    display: block;
    width: 100%;
    margin: 0 auto 80px;
  }
  #home .menu section {
    margin: 0 auto 50px auto;
    width: 90%;
  }
  #home .menu section a.hvr-float {
    width: 60%;
  }
  /*-------------
   当院について
  ---------------*/
  #about main .aisatsu-all .aisatsu {
    display: block;
    margin-bottom: 50px;
  }
  #about main .aisatsu-all .aisatsu section {
    padding: 0 20px 40px 20px;
  }
  #about main .aisatsu-all .aisatsu .aisatsu-left {
    margin: 0;
    width: 100%;
  }
  #about main .aisatsu-all .aisatsu .aisatsu-right {
    margin: 0;
    width: 100%;
  }
  #about main .aisatsu-all .aisatsu .aisatsu-right .doctor img {
    width: 65px;
  }
  #about main .aisatsu-all .aisatsu .aisatsu-right .doctor span {
    font-size: 22px;
  }
  #about main .aisatsu-all .ishi-shoukai {
    display: block;
    margin: 0 10px 40px 10px;
    padding: 40px 0;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-left {
    margin: 0 auto 30px;
    width: 90%;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-right {
    margin: 0 20px;
    width: auto;
  }
  #about main .aisatsu-all .ishi-shoukai .inchou-shoukai-right .responsive {
    display: block;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-left {
    margin: 0 auto 30px;
    width: 90%;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-left .doctor-left img {
    width: 60px;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-left .doctor-left span {
    font-size: 18px;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-right {
    margin: 0 auto 30px;
    width: 90%;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-right .doctor-right img {
    width: 60px;
  }
  #about main .aisatsu-all .ishi-shoukai .ishi-shoukai-right .doctor-right span {
    font-size: 18px;
  }
  #about main .animal-pic {
    margin: 40px 10px;
  }
  #about main .animal-pic img {
    margin-left: 0;
    margin-bottom: 20px;
  }
  #about main .onegai {
    width: 95%;
    margin: 0 10px 50px;
    padding: 40px 0 30px;
  }
  #about main .onegai .onegai-text section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
    border-radius: 4px;
    width: 90%;
  }
  #about main .onegai .onegai-text section img {
    width: 30%;
    margin-bottom: 10px;
  }
  #about main .onegai .onegai-text section .text {
    width: 100%;
  }
  #about main .onegai .onegai-text section .text div {
    text-align: center;
  }
  #about main .onegai .onegai-text section .text div h4 {
    font-size: 15px;
    line-height: 1.3;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
  }
  #about main .onegai .onegai-text section .text div h4 br {
    display: inline-block;
  }
  #about main .onegai .onegai-text section .text p {
    border-top: 2px solid #F2A464;
    line-height: 1.5;
  }
  /*----------------
      診察案内
  ----------------*/
  #shinsatsu-annai main .first-view-bottom-wrap .first-view-bottom h3 {
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    border: none;
  }
  #shinsatsu-annai main .first-view-bottom-wrap .first-view-bottom h3 .responsive {
    display: block;
  }
  #shinsatsu-annai main .shinsatsu {
    background-color: #EADED0;
    padding: 40px 20px 50px;
    margin: 0 10px;
  }
  #shinsatsu-annai main .shinsatsu section {
    background-color: #ffffff;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
  }
  #shinsatsu-annai main .shinsatsu section h4 {
    font-size: 16px;
    padding: 7px 0 10px 0;
    margin: 0 auto 10px auto;
    width: 130px;
  }
  #shinsatsu-annai main .shinsatsu section p {
    display: inline-block;
    line-height: 1.5;
    margin: 0 10px 18px 10px;
    text-align: justify;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top .left {
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top .left .pc {
    display: none;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top .left p {
    margin: 0 20px 20px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-top p {
    margin: 0 20px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom .left.hvr-shadow {
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom .left.hvr-shadow p {
    max-width: 290px;
  }
  #shinsatsu-annai main .shinsatsu .shinsatsu-bottom .right.hvr-shadow p {
    max-width: 290px;
  }
  #shinsatsu-annai main .wakuchin {
    margin-bottom: 40px;
    margin-top: 60px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text {
    width: 80%;
    height: 70px;
    margin-top: -60px;
    padding-top: 0;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text p {
    font-size: 11px;
    width: 90%;
    line-height: 1.4;
    margin-top: 10px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-left .left-text .pc {
    display: none;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right {
    writing-mode: vertical-rl;
    margin-right: 2%;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right h4 {
    font-size: 16px;
    padding: 10px 0 10px 4px;
  }
  #shinsatsu-annai main .wakuchin .wakuchin-right p {
    line-height: 1.2;
    padding: 10px 2px 10px 4px;
    font-size: 12px;
  }
  #shinsatsu-annai main .kyokenbyo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px 60px;
    margin: 0 10px 80px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left {
    margin: 0 auto;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left section {
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left h4 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left h4 .responsive {
    display: block;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left p {
    text-align: left;
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left p span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left p span .br480 {
    display: block;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-left .touroku {
    margin-bottom: 40px;
  }
  #shinsatsu-annai main .kyokenbyo .kyokenbyo-right {
    width: 80%;
  }
  #shinsatsu-annai main .saisei {
    margin: 0 auto 80px;
  }
  #shinsatsu-annai main .saisei .saisei-left {
    writing-mode: vertical-rl;
    margin-left: 2%;
  }
  #shinsatsu-annai main .saisei .saisei-left h4 {
    font-size: 16px;
    padding: 10px 6px 10px 2px;
  }
  #shinsatsu-annai main .saisei .saisei-left p {
    font-size: 12px;
    line-height: 1.2;
    padding: 10px 6px 10px 6px;
  }
  #shinsatsu-annai main .saisei .saisei-right .right-text {
    background-color: #F6F0E9;
    width: 78%;
    height: 30px;
    margin-top: -30px;
    padding: 0;
    border-radius: 0 50px 0 0;
  }
  #shinsatsu-annai main .saisei .saisei-right .right-text p {
    font-size: 11px;
    width: 92%;
    line-height: 1.4;
    margin-top: 4px;
  }
  #shinsatsu-annai main .ryoho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px 50px 20px;
    margin-bottom: 80px;
    margin: 0 10px 50px;
  }
  #shinsatsu-annai main .ryoho h4 {
    font-size: 16px;
    padding: 10px 14px 10px 10px;
    margin-top: 23px;
  }
  #shinsatsu-annai main .ryoho img {
    margin-bottom: 20px;
  }
  #shinsatsu-annai main .ryoho p {
    line-height: 1.7;
    text-align: justify;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  #shinsatsu-annai main .ryoho p span {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
  }
  #shinsatsu-annai main .ryoho .ryoho-left {
    margin-bottom: 40px;
  }
  /*----------------
       トリミング
  ----------------*/
  #trimming main .first-view-bottom-wrap .first-view-bottom {
    margin-top: -50px;
  }
  #trimming main .first-view-bottom-wrap .first-view-bottom {
    width: 80%;
  }
  #trimming main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 12px;
    line-height: 1.3;
    text-align: justify;
    margin: 10px 25px 0 4px;
  }
  #trimming main .trimming-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px 40px;
    margin: 0 10px;
  }
  #trimming main .trimming-service div {
    min-height: 140px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    height: 230px;
  }
  #trimming main .trimming-service div img {
    width: 70px;
    margin-bottom: 4px;
  }
  #trimming main .trimming-service div section h4 {
    margin-bottom: 10px;
  }
  #trimming main .miryoku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 10px 30px 10px;
    margin: 0 10px 50px 10px;
  }
  #trimming main .miryoku .miryoku-left {
    margin-right: 0;
    margin-bottom: 30px;
    width: 98%;
  }
  #trimming main .miryoku .miryoku-right {
    margin-left: 0;
    width: 98%;
  }
  #trimming main .miryoku img {
    margin-bottom: 10px;
  }
  #trimming main .miryoku p {
    line-height: 1.6;
  }
  #trimming main .miryoku section {
    padding: 0;
    margin: 0 10px;
  }
  #trimming main .miryoku section h4 {
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
  }
  #trimming main .miryoku section p {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }
  #trimming main .miryoku section h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  #trimming main .miryoku section ul li {
    margin: 0px;
    text-align: left;
    line-height: 1.5;
  }
  /*----------------
    ペットホテル
  ----------------*/
  #hotel main .first-view-bottom-wrap {
    margin-bottom: 40px;
  }
  #hotel main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 12px;
    line-height: 1.4;
    margin: 0 15px 0 4px;
  }
  #hotel main .main-content-title .hotel-service-miryoku {
    font-size: 20px;
  }
  #hotel main .hotel-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 10px 20px 10px;
  }
  #hotel main .hotel-service div {
    width: 100%;
  }
  #hotel main .hotel-service div img {
    width: 80%;
    margin-bottom: 10px;
  }
  #hotel main .hotel-service div section {
    margin-bottom: 40px;
  }
  #hotel main .hotel-service div section h4 {
    margin-bottom: 10px;
  }
  #hotel main .hotel-service div section p {
    line-height: 1.6;
    text-align: left;
    margin-left: 10px;
  }
  #hotel main .chui-jikou-bg {
    padding-top: 40px;
    padding-bottom: 0;
    margin: 0 10px 60px;
  }
  #hotel main .chui-jikou-bg .chui-jikou {
    padding-bottom: 30px;
  }
  #hotel main .chui-jikou-bg .chui-jikou .chui-left {
    text-align: left;
    margin: 0 12px 50px;
  }
  #hotel main .chui-jikou-bg .chui-jikou .chui-left section .last-p {
    margin-bottom: 10px;
  }
  #hotel main .chui-jikou-bg .chui-jikou .chui-right {
    width: 100%;
  }
  #hotel main .chui-jikou-bg .chui-jikou .chui-right img {
    width: 37%;
  }
  /*----------------
       院内紹介
  ----------------*/
  #innai-shoukai main .first-view-bottom {
    margin-top: -50px;
  }
  #innai-shoukai main .first-view-bottom h3 {
    font-size: 11px;
    margin-top: 0;
  }
  #innai-shoukai main .first-view-bottom h3 .responsive {
    display: block;
  }
  #innai-shoukai main .first-view-bottom h3 .pc {
    display: none;
  }
  #innai-shoukai main .innai-shoukai-all {
    padding: 40px 10px 60px;
    border-radius: 30px;
    margin: 0 10px 60px;
  }
  #innai-shoukai main .innai-shoukai-all .innai-shoukai-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
  #innai-shoukai main .innai-shoukai-all .innai-shoukai-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
  #innai-shoukai main .innai-shoukai-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #innai-shoukai main section {
    margin-bottom: 30px;
    width: 80%;
  }
  #innai-shoukai main section img {
    margin-bottom: 5px;
  }
  #innai-shoukai main section p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
  }
  #innai-shoukai main .last-section {
    margin-bottom: 0px;
  }
  /*----------------
       アクセス
  ----------------*/
  #access main .first-view-bottom-wrap {
    margin-bottom: 50px;
  }
  #access main .first-view-bottom-wrap .first-view-bottom h3 {
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 0 4px;
  }
  #access main .first-view-bottom-wrap .first-view-bottom h3 .responsive {
    display: none;
  }
  #access main .access {
    padding: 40px 0 20px;
    margin: 0 10px 50px;
  }
  #access main .access .access-iinjoho .access-left {
    margin: 0 auto 30px;
    width: 92%;
  }
  #access main .access .access-iinjoho .access-left iframe {
    width: 100%;
    height: 300px;
  }
  #access main .access .access-iinjoho .access-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #access main .access .access-iinjoho .access-right .responsive {
    text-align: left;
    margin-bottom: 10px;
  }
  #access main .access .access-iinjoho .access-right .responsive h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.8;
  }
  #access main .access .access-iinjoho .access-right .responsive h4 span {
    font-size: 14px;
    font-weight: normal;
  }
  #access main .access .access-iinjoho .access-right .responsive address {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    margin: 20px 0 10px;
  }
  #access main .access .access-iinjoho .access-right .responsive address .responsive {
    display: block;
  }
  #access main .access .access-iinjoho .access-right .responsive address a {
    font-size: 12px;
    padding: 1px 6px 2px 6px;
  }
  #access main .access .access-iinjoho .access-right .responsive p {
    font-size: 18px;
    line-height: 0.8;
  }
  #access main .access .access-iinjoho .access-right .responsive p span {
    font-size: 16px;
  }
  #access main .access .access-iinjoho .access-right table {
    width: 92%;
  }
  #access main .access .access-iinjoho .access-right table th {
    padding: 16px 4px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  #access main .access .access-iinjoho .access-right table td {
    padding: 16px 6px;
  }
  #access main .access .access-iinjoho .access-right .table-bottom p {
    font-size: 14px;
    margin-left: -30px;
    text-align: left;
  }
}/*# sourceMappingURL=responsive.css.map */